# ---- Arc testnet (chain 5042002) ----
NEXT_PUBLIC_ROTA_ADDRESS=0x86Fc49612A3A7832865CCd65a5d7A5f689a5a808
NEXT_PUBLIC_ROTA_DEPLOY_BLOCK=63306726

# ---- Arc mainnet (chain 5042) ----
NEXT_PUBLIC_ROTA_ADDRESS_MAINNET=0x2eb23a1aae43ff4c0aee3e1e6503475fa3b81eaf
NEXT_PUBLIC_ROTA_DEPLOY_BLOCK_MAINNET=22123755

# The mainnet chain must also be configured, or mainnet is not offered.
NEXT_PUBLIC_ARC_MAINNET_CHAIN_ID=5042
NEXT_PUBLIC_ARC_MAINNET_RPC_URL=https://rpc.mainnet.arc.io
